
.exam {
    background: rgba(250, 71, 83, 0.6);
    border: 1px solid #FA4753;
    border-radius: 8px;
}

.quiz {
    background: rgba(155, 165, 201, 0.6);
    border: 1px solid #9BA5C9;
    box-shadow: 0px 2px 0px #9BA5C9;
}

.exams {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.exams > div {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    margin: 1em;
    gap: 1em;
    width: 40%;
    height: 348px;
    border-radius: 8px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
}

h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    color: #17181C;
}

h3 {
    font-weight: bold;
    font-size: 1.2em;
    color: #17181C;
}

p {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    flex: none;
    color: rgba(23, 24, 28, 0.6);
    order: 1;
    flex-grow: 0;
}

.teacher {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #17181C;
    flex: none;
    order: 4;
    align-self: stretch;
    flex-grow: 0;
}