@value active from "../Spotted/Spotted.module.css";
@value menu as orMenu from "../Spotted/Spotted.module.css";

.menu {
    composes: orMenu;
    display: flex;
    gap: 3rem;
    margin-bottom: 1rem;
}

.subject {
    font-size: 1.5rem;
    width: 100%;
    padding: 1rem;
    color: var(--add2-500);
}

.subject:not(.subject:last-of-type) {
    border-bottom: 1px solid var(--main-100);
}