.navbar {
    background-color: var(--bg-clr);
    display: block;
    justify-content: space-between;
    padding: 2em;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
    font-size: 1.5em;
    overflow-y: hidden;
    position: relative;
    min-width: fit-content;
}

ul {
    margin: 0;
}

.navbar::after {
    content: '';
    width: 1px;
    height: 100%;
    background-color: var(--main-100);
    position: absolute;
    right: 0;
    top: 0;
}

.mainLogo {
    font-size: .7em;
}

.stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 2em;
    gap: 8px;
}

.stat {
    font-family: 'Quicksand';
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    line-height: 30px;
    color: #9BA5C9;
}