.main {
  height: 100vh;
  width: fit-content;
  max-width: 20rem;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-right: 1px solid var(--main-100);
  padding: 2rem 1rem;
  background-color: var(--bg-clr);
  overflow-y: hidden;
  box-sizing: border-box;
  position: relative;
  min-width: 15%;
}

.top {
  width: 100%;
}

.top > h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.conversations {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.conversation {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem 0.5rem;
  width: 100%;
  box-sizing: border-box;
}

.info {
  padding-left: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.info p:first-of-type {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  aspect-ratio: 1/1;
}

.info {
  width: calc(100% - 50px);
}

.info h3 {
  margin-block: 0;
}

.info > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.bottom {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.25rem;
  cursor: pointer;
}

.bottom * {
  color: var(--add2-500);
  transition: all 100ms linear;
}

.bottom div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.bottom *:hover {
  color: var(--add1-500);
}

.bottom div:hover * {
  color: var(--add1-500);
}

@media screen and (max-width: 1200px) {
  .main {
    max-width: none;
    width: 100%;
    padding-bottom: 5rem;
  }
}

.siteTitle {
  font-size: 2rem;
  color: var(--add1-500);
  margin-bottom: 1rem;
  text-align: center;
  font-weight: 500;
}
