.avatar {
    --size: 20rem;
    min-width: var(--size);
    min-height: var(--size);
    max-width: var(--size);
    max-height: var(--size);
    overflow: hidden;
    border-radius: 100%;

    filter: drop-shadow(8px 4px 0px var(--add1-500)) drop-shadow(-8px -4px 0px var(--add2-500));
    box-sizing: border-box;
}

.avImage {
    width: 100%;
    height: 100%;
}

.personContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.managementContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-inline: 5rem;
    width: 100%;
}

.detailsContainer {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.ovColor {
    color: inherit;
}

.buttonsArea {
    flex-direction: row; 
    display: flex;
    padding-top: 1rem;
    column-gap: 2rem;
    border: 0 solid var(--main-100);
    border-top-width: 2px;
}