.button {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    font-size: 20px;
    border-radius: 10px;
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bg-clr);
}

.default {
    border: 2px solid var(--add1-500);
    box-shadow: 0px 2px 0px rgba(250, 71, 83, 0.6);
    background-color: var(--add1-500);
}

.alternate {
    border: 2px solid var(--add1-500);
    background-color: var(--bg-clr);
    color: var(--add1-500);
    box-shadow: 0px 1px 0px rgba(250, 71, 83, 0.6);
}

.default:disabled {
    background-color: var(--main-200);
    color: var(--main-400);
    cursor: not-allowed;
    border-color: var(--main-200);
    box-shadow: 0px 1px 0px var(--main-100);
}

.button:active,
.button:focus {
    outline: none;
}
