.linkList {
    list-style: none;
    padding: 0;
}

.link {
    display: flex;
    align-items: center;
    padding-block: .7rem;
    text-decoration: none;
    font-size: 28px;
}

.linkIcon {
    margin-right: 1rem;
    display: flex;
    align-items: center;
}

.clickable {
    color: var(--add2-500);
}

.clickable:hover {
    cursor: pointer;
    user-select: none;
}
