.linkList {
    list-style: none;
    padding: 0;
}

.link {
    display: flex;
    align-items: center;
    padding-block: .7rem;
    text-decoration: none;
    font-size: 28px;
}

.clickable {
    color: var(--add2-500);
}

.clickable:hover {
    cursor: pointer !important;
    user-select: none;
}

.clickable label {
    cursor: pointer !important;
}

.linkList label {
    cursor: pointer !important;
}

.selected {
    color: var(--add1-500) !important;
}

@media screen and (min-width: 901px) {
    .mobile {
        display: none;
    }
}