@value avImage as orImg from "../Sites/User/Profile.module.css";

.inliner {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    padding-top: 2rem;
    color: var(--add2-500);
}

.inlinerSpaced {
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    padding-top: 2rem;
    color: var(--add2-500);
}

.inlinerSpaced > div:first-of-type {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.avatar {
    width: 2rem;
    height: 2rem;
    overflow: hidden;
    border-radius: 100%;
}

.avImage {
    composes: orImg;
}

.name {
    font-size: 2rem;
}

.inlinerAdd {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
}

@media screen and (max-width: 1200px) {
    .inliner {
        flex-direction: column;
        align-items: flex-start;
    }

    .inlinerSpaced {
        flex-direction: column;
        align-items: flex-start;
    }

    .avatar {
        width: 5rem;
        height: 5rem;
    }

    .addIcon {
        font-size: 2rem;
    }
}