.searchCont {
    box-sizing: border-box;
    position: fixed;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 2rem;
    gap: 1rem;
    background-color: var(--bg-clr);

    border-width: 0px 3px 3px 0px;
    border-style: solid;
    border-color: var(--add1-500);
    border-radius: 0px 0px 8px 0px;

    order: 4;
    flex-grow: 0;
    z-index: 100;
    top: 0;

    transition-property: top, opacity;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
}

.disabled {
    opacity: 0;
}

.enabled {
    opacity: 1;
    top: 0;
}