.noUsersFound {
    text-align: center;
    font-size: 1.5rem;
}

.input {
    margin: 2rem 0;
}

@media screen and (max-width: 1200px) {
    .main {
        max-width: none;
        width: 100%;
        padding-bottom: 5rem;
    }
}