
.navbar {
    background-color: var(--bg-clr);
    display: flex;
    justify-content: space-between;
    padding: 2rem 3rem;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
    font-size: 1.6rem;
    overflow-y: hidden;
    position: relative;
    width: fit-content;
}

.navbar::after {
    content: '';
    width: 1px;
    height: 100%;
    background-color: var(--main-100);
    position: absolute;
    right: 0;
    top: 0;
}

.mainLogo {
    color: #FA4753;
    font-family: 'Zen Dots';
    font-size: 1rem;
    position: sticky;
}