.navbar {
    background-color: var(--bg-clr);
    display: flex;
    justify-content: space-between;
    padding: 2em;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
    font-size: 1.5em;
    overflow-y: hidden;
    border-right: 1px solid var(--main-100);
    min-width: fit-content;
}

.disable {
    visibility: none;
}

@media screen and (max-width: 900px) {
    .navbar {
        max-height: 100vh;
        position: fixed;
        display: flex;
        z-index: 100;
        width: 100vw;
        padding: 0;
        height: fit-content !important;
        bottom: 0;
        flex-direction: column-reverse;
        border-top: 1px solid var(--main-100);
        overflow-y: auto;
    }
    .mainLogo {
        display: none;
    }
    .mainIcons {
        flex-direction: row;
        display: flex;
        justify-content: space-around;
        width: 100%;
        border-top: 1px solid var(--main-100);
    }
    .mainIcons label {
        display: none !important;
    }
    .mainIcons svg {
        width: 2.5rem;
        height: 2.5rem;
    }
    .mainIcons {
        margin: 0 !important;
    }
    .mainIcons li {
        width: 100%;
    }
    .mainIcons a, .mainIcons div {
        display: flex;
        justify-content: center;
    }
    .mainIcons span {
        margin: 0;
    }
    .show {
        padding-inline: 1rem !important;
    }
    .hidden {
        display: none;
    }
}

ul {
    margin: 0;
}

.mainLogo {
    font-size: .7em;
}

.hide {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    background-color: var(--black-400);
}