.navbar {
    background-color: var(--bg-clr);
    display: flex;
    justify-content: space-between;
    padding: 2em;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
    font-size: 1.5em;
    overflow-y: hidden;
    position: relative;
    min-width: fit-content;
}

ul {
    margin: 0;
}

.navbar::after {
    content: '';
    width: 1px;
    height: 100%;
    background-color: var(--main-100);
    position: absolute;
    right: 0;
    top: 0;
}

.mainLogo {
    font-size: .7em;
}